
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(180deg, #172e54 0%, #516d92 35%, #2b4772 65%, #051530 100%);
  background-attachment: fixed;
  color: #ffffff;
  line-height: 1.5;
}




